@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:900i&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;

  &:before {
    content: '';
    content: "";
    width: 100%;
    height: 100vh;
    background: #ffffff;
    //background-image: url("../public/pexels-athena-1858409.jpg");
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
    background-position: 50% 60%;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }
}

.text-shadow {
  text-shadow: 0px 2px 0px rgb(0 0 0 / 30%);
}

.adjacent-post {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;
  }

  &:hover {
    & .arrow-btn {
      width: 60px;
    }
  }
}

.react-multi-carousel-list {
  & .arrow-btn {
    transition: width 300ms ease;
    width: 50px;

    &:hover {
      width: 60px;
    }
  }

}

.post-full-content {
  word-break: break-all;
}


.landing-blog-header-wrapper{
  width: 100%;
  background-image: url(../public/pexels-waldemar-nowak-910616.jpg);
  background-position: 50% 50%;
  background-size: cover;
}

.landing-blog-header {
  width: 100%;
  height: fit-content;
  margin-top: 8.5em;
  background-color: transparent;
  position: relative;
  background-color: transparent;
  display: grid;
  grid-template-columns: 8fr 4fr;
  place-items: center;
  gap: 1em;
  padding: 2em;
  text-align: center;
}

.landing-blog-header span {
  font-size: clamp(65px, 5vw, 120px);
  text-align: center;
  letter-spacing: 0.1em;
  -webkit-text-fill-color: #004aad;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #004aad;
  text-shadow:
    8px 8px #f5f9b2,
    20px 20px #00000000;
  transition: all 0.3s ease;
  // animation: animetext 10s linear infinite;
}

//  @keyframes animetext {
//    0%{
//     text-shadow: 
//     8px 8px #f5f9b2,
//     20px 20px #00000000;
//    }
//    50%{
//     text-shadow: 
//     -8px -8px #f5f9b2,
//     20px 20px #00000000;
//     letter-spacing: 0.2em;
//    }
//    100%{
//     text-shadow: 
//     8px 8px #f5f9b2,
//     20px 20px #00000000;
//    }
//  }

.landing-blog-header span:hover {
  text-shadow:
    -8px -8px #f5f9b2,
    20px 20px #00000000;
}

.landing-blog-header .share-links {
  border-left: 0.85em solid rgb(38, 48, 90);
}

.landing-blog-header .share-links i {
  font-size: clamp(2em, 5vw, 3em);
  padding: 0.2em;
  max-width: 2.6em;
  min-width: 1.6em;
  width: 5vw;
  cursor: pointer;
  transition: all 0.1s linear;
}

.landing-blog-header .share-links i:hover {
  background-color: #0000000e;
}

.comment {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
  text-align: center;
}

.comment-submit {
  width: 65%;
  padding: 0.5em;
  margin-top: 2em;
}

.comment-submit span {
  letter-spacing: 0.085em;
  text-align: center;
  color: #1a1b28;
  font-weight: 600;
  transition: all 1s linear;
}

.author-info {
  // background-color: rgba(84, 152, 255, 0.749);
  border: none;
  color: black;
  width: 80%;
  margin: 10em auto;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 10px -1px #8d8d8d81;
  box-shadow: 5px 5px 10px -1px #8d8d8d81;
  // margin-top: 10em;
  // margin-bottom: 10em;
}


.landing-blog-header .share-links h3 {
  text-align: left;
  letter-spacing: 0.1em;
  padding-left: 0.3em;
  text-transform: uppercase;
  font-weight: 600;
  color: #1a1b28;
}


.landing-blog-desc h3 {
  margin: auto;
  width: 96.5%;
  margin-top: 2em;
  //background-image: url('../public/img/jose-larrazolo-S8bde3hkBR8-unsplash.jpg');
  background-position: 50% 50%;
  background-size: cover;
  //background-color: #004aad;
  letter-spacing: 0.1em;
  padding: 1em;
  font-weight: 600;
  color: #111730;
  // -webkit-text-fill-color: #004aad;
  //   -webkit-text-stroke-width: 1px;
  //   -webkit-text-stroke-color: #122947;
  border-left: 2em solid rgb(255, 219, 88);
}

.share-links i:nth-child(2) {
  background-color: rgb(195, 219, 59);
}

.share-links i:nth-child(3) {
  background-color: rgb(84, 191, 245);
}

.share-links i:nth-child(4) {
  background-color: rgb(253, 136, 136);
}

.share-links i:nth-child(5) {
  background-color: rgb(109, 240, 229);
}

.wrapper {
  padding-top: 50px;
  border-bottom-right-radius: 0%;
  border-top-right-radius: 0%;
  word-break: break-all;
  // -webkit-box-shadow: 5px 5px 6px -1px #8d8d8d;
  // box-shadow: 5px 5px 6px -1px #8d8d8d;
}

a {
  color: black;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: 'ubuntu', sans-serif;
  letter-spacing: 0.085em;
}

h1 {
  overflow: hidden;
}

.display {
  margin: auto;
  margin-bottom: 5vh;
  width: 88vw;
  border-radius: 0em;
  border-right: 3em solid rgb(255, 219, 88);
}

.blog-posts-carousel {
  height: 50vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1f 1fr;
}

.categories {
  width: 55vw;
  margin: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  padding: 1em 1.3em;
  overflow-x: scroll;
  overflow-y: hidden;
  color: rgb(16, 18, 39);
  margin-bottom: 1em;
  margin-top: 4.5em;
  z-index: 10;
  font-size: 1em;
  // border-left: 3.5em solid rgb(255, 219, 88);
  // border-right: 3.5em solid rgb(11, 22, 41);
  // border-radius: 20px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.categories .btn {
  word-spacing: 2em;
  margin: 0 1em;
  border: none;
  color: #1a1b28;
  letter-spacing: 0.2em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  background-color: #ffffff;
  transition: letter-spacing 0.1s linear;
  -webkit-box-shadow: 5px 5px 6px -1px #8d8d8d;
  box-shadow: 3px 3px 7px -1px #3a3a3a;
  font-weight: 600;
}

.categories .btn:hover {
  background-color: #1d1f3a;
  letter-spacing: 0.25em;
}

.row * {
  overflow: hidden;
}

.row h2 {
  padding: 0.1em;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  overflow: hidden;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}


.navbar {
  /* border-bottom: 0.2em solid rgb(87, 87, 228); */
  -webkit-box-shadow: 0px 0px 7px 0px rgb(87, 87, 228);
  box-shadow: 0px 0px 7px 0px rgb(35, 35, 35);
  padding-top: 10%;
  padding-right: 5%;
  padding-left: 2%;
  position: fixed;
  top: 0%;
  font-family: "ubuntu", sans-serif;
  font-size: 1.15em;
  letter-spacing: 0.2em;
  font-weight: 600;
  color: #1a1b28;
  overflow: hidden;
  z-index: 999;
}

.navbar-brand>img {
  width: 5vw;
  height: auto;
  min-width: 65px;
  padding: 0%;
}

.navbar-nav {
  margin-left: 5%;
  overflow: hidden;
}

.navbar-nav .nav-item {
  transition: all 0.2s;
  padding-left: 2em;
}

.nav-item > a{
  transition: all 0.1s linear;
  letter-spacing: 0.1em;
}

.nav-item:hover > a {
  letter-spacing: 0.5em;
}

.d-flex img:nth-child(1){
  width: 50px;
  height: auto;
  margin: 0 1.3em;
}
// .d-flex img:nth-child(1){
//   width: 50px;
//   position: relative;
//   padding: 0 1.3em;
//   height: 50px;
// }

.d-flex .btn {
  letter-spacing: 0.15em;
  z-index: 1;
  overflow: hidden;
}

.btn>a {
  color: darkgreen;
  text-decoration: none;
}

.btn:hover>a {
  color: white;
}


.col-lg-4 {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  border-radius: 0 !important;
  border: none !important;
}

.card .card-img-top {
  max-height: 65vh;
  object-fit: cover;
  width: 95%;
  position: relative;
  margin-top: 3%;
}

.card .list-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.card .card-title {
  word-break: break-all;
}

.card .authorname {
  font-size: 1.15em;
  padding-top: 0%;
  margin-top: 0%;
}

.card .datetime {
  font-style: italic;
}


// .top-line {
//   margin-top: 10%;
//   width: 100vw;
//   height: 70px;
//   background-color: rgba(0, 0, 139, 0.596);
// }

// .bottom-line {
//   width: 100vw;
//   height: 10px;
//   background-color: rgb(21, 21, 88);
//   margin-bottom: 10px;
// }

.footer {
  width: 100%;
  overflow-x: hidden;
  background-color: rgb(38, 60, 106);
}

.footer-row {
  width: 100vw;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: center;
  flex-wrap: wrap;
  color: #d0edf3;
  padding-bottom: 5vh;
}

.f {
  padding-top: 1.5vh;
}

.f-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.f-logo>img {
  width: 25vw;
}

.social-media-links {
  position: relative;
  margin-top: 10%;
}

.social-media-links i {
  font-size: 35px;
  padding-left: 2%;
}

.d-flex p {
  color: rgba(255, 255, 255, 0.502);
  letter-spacing: 0.1em;
  padding-top: 1vh;
}

.location-div {
  width: fit-content;
}

.location-div .text-muted {
  font-size: 50px;
  color: aliceblue;
}

.text-muted i {
  color: aliceblue
}

.newsletter {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-bottom: 3.5em;
  font-family: 'Ubuntu', sans-serif;
  border: none;
  overflow-x: hidden;
}

.newsletter input[type="text"] {
  width: 50%;
  border-radius: 0;
  height: 5vh;
  max-height: 3em;
  min-height: 2.25em;
}

.newsletter .btn {
  border-radius: 0;
  height: 5vh;
  max-height: 3em;
  min-height: 2.25em;
  padding: 0 1.5em;
}


.landing-blog-desc i {
  padding-left: 0.85em;
}


@media only screen and (max-width: 576px) {
  .display {
    width: 90vw;
  }

  .landing-blog-header {
    grid-template-columns: 1fr;
    gap: 5em;
  }

  .categories {
    width: 85vw;
    margin: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 1em 1.3em;
    overflow-x: scroll;
    overflow-y: hidden;
    color: rgb(16, 18, 39);
    margin-bottom: 1em;
    margin-top: 8.5em;
    z-index: 10;
    font-size: 1em;
    border-left: 3.5em solid rgb(255, 219, 88);
    // border-right: 0.3em solid rgb(11, 22, 41);
    // border-radius: 20px;
    //  border-top-left-radius: 10px;
    //  border-bottom-left-radius: 10px;
  }

  .categories .btn {
    word-spacing: 1em;
    margin: 0 0.5em;
  }
}

@media only screen and (max-width: 992px) {
  .d-flex {
    justify-content: center;
  }
}

@media only screen and (max-width: 1025px) {
  .categories {
    margin-bottom: 0%;
  }


  .landing-blog-desc i {
    padding-left: 0;
  }


  .display {
    margin-top: 2em;
    border-right: none;
  }

  .rightside {
    margin-bottom: 20vh;
  }

  .wrapperpostcard {
    margin-top: 6.5em;
  }
}

@media only screen and (max-width: 300px) {
  .landing-blog-header span {
    font-size: 55px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: rgb(31, 47, 66);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(56, 85, 120);
}

::-webkit-scrollbar:horizontal {
  height: 0.5em;
}

::-webkit-scrollbar-track:horizontal {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background: rgb(40, 62, 163);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: rgb(51, 80, 118);
  cursor: pointer;
}